@using EPiServer.Shell.Web.Mvc.Html

<button name="Button" type="submit" value="Save and close" class="btn btn-sm btn-success">@Html.TranslateFallback("/virtualtemplatesystem/buttons/save", "Save and close")</button>
