@using System.Web.Mvc.Html
@model VirtualTemplates.UI.Models.VirtualTemplatesCompareModel

@{
    Layout = "_VirtualTemplatesRoot.cshtml";
}

<div class="card-body" id="codeContainer">

    @using (Html.BeginForm())
    {
        <p class="action-buttons">
            @{ Html.RenderPartial("Buttons/Save"); }
            @{ Html.RenderPartial("Buttons/SaveAndClose"); }
            @{ Html.RenderPartial("Buttons/Revert"); }
        </p>

        @Html.HiddenFor(m => Model.VirtualPath)
        <div class="card card-default code-wrapper">
            @{ Html.RenderPartial("Shared/PanelTitle"); }

            <div class="card-body nopadding" id="codepanel">
                <iframe class="card-body nopadding" style="min-height: 100%; min-width: 100%; height: 100%; width: 100%" frameborder="0" src="CompareDisplay?@Request.QueryString.ToString()"></iframe>
            </div>

        </div>
        @Html.HiddenFor(m => Model.TemplateContents)
    }

</div>